.container {
  width: 500px;
  margin: 0 auto;
  border: 2px red solid;
}

/* Images */

.images {
  width: 170px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  flex-shrink: 0;
}

/* Layout */

.hero-images {
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
