.container {
  width: 500px;
  margin: 0 auto;
  border: 2px red solid;
}

/* Images */

.images {
  width: 170px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  flex-shrink: 0;
}

/* Layout */

.hero-images {
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* typography */
.user-info {
  display: block;
  margin: 1px 0 0;
}

.user-avatar {
  margin-right: 20px;
}
